<h2> Olá {{ name }} </h2>
<p>
  It seens like someone requested a password retrieval for this email, if you have no</br>
  idea what this message is about just ignore it, if you request a password retrieval</br>
  just click the link bellow.
</p>
<p>
<a href="">Recover password.</a>
</p>
